body {
background-color: rgb(32, 37, 37);
}

h1 {
    text-align: center;
    font-family: Georgia;
    font-size: 16px;
    color: white;
    font-weight: bold;  
}
.text {
    text-align: center;
    font-family: Georgia;
    font-size: 16px;
    color: white;
    font-weight: bold;

}
.center-block {
    margin: auto;
    display: block;
    padding: 4px;
    align-content: center;
    border: 2px;
    border-style: double; 
}
.image{
position: absolute;
right: 0px;
opacity: 0.5; 
overflow: auto;
}

#auto {
    text-align: center;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;

}

#gumb {
font-family: Georgia;
font-weight: bold;
}